.sleeper-city{
	position: relative;
	&.overlay-active{
		#scene-sleeper{
			pointer-events: none;
		}
		.cursor{
			opacity: 0;
		}
	}
	&.stadium-hover{
		cursor: pointer;
	}
	&.basketball-hover{
		#scene-sleeper{
			cursor: pointer;
		}
		.cursor-basketball{
			&:before{
				animation-duration: 4s;
			}
		}
	}
	&.football-hover{
		#scene-sleeper{
			cursor: pointer;
		}
		.cursor-football{
			&:before{
				animation-duration: 4s;
			}
		}
	}
	&.soccer-hover{
		#scene-sleeper{
			cursor: pointer;
		}
		.cursor-soccer{
			&:before{
				animation-duration: 4s;
			}
		}
	}
}
.city-overlay{
	width: 50%;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 20;
	display: flex;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: translateX(-100%);
	.overlay-inner{
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 3em 1em;
		background-color: rgba(14, 22, 37, .94);
		clip-path: circle(100vw at -50vw 50vh);
		@media (min-width: 768px){
			padding: 3em 4em;
		}
		@media (min-width: 1240px){
			padding: 3em 8em;
		}
		@media (min-width: 1440px){
			padding: 3em 10em;
		}
		p {
			color: #fff;
		}
	}
	&.football-active{
		text-align: right;
	}
	&.overlay-open{
		transition-delay: 0.5s;
		transform: translateX(0%);
		&.basketball-active{
			transform: translateX(-200%);
			.overlay-close:after{
				left: auto;
				right: 0;
			}
		}
		.overlay-close{
			&:before{
				opacity: 1;
				pointer-events: initial;
				transition-delay: 0.8s;
			}
			&:after{
				pointer-events: initial;
			}
		}
		.overlay-content{
			@for $i from 1 through 6{
				> *:nth-child(#{$i}){
					transition-delay: $i * 0.15s + 0.85s;
					transform: translateY(0px);
				}
			}
			> * {
				opacity: 1;
			}
		}
	}
	&.basketball-active{
		text-align: left;
		right: -100%;
		transform: translateX(-100%);
		.overlay-close{
			&:before{
				right: auto;
				left: 0;
			}
		}
		.overlay-inner{
			justify-content: flex-start;
			clip-path: circle(100vw at 100vw 50vh);
		}
	}
	.overlay-content{
		max-width: 800px;
		> * {
			opacity: 0;
			transform: translateY(30px);
			transition: transform 0.8s 0.6s cubic-bezier(.1,.53,.32,1.17), opacity 0.6s 0.4s ease;
			display: block;
		}
	}

	.overlay-close{
		cursor: pointer;
		&:before{
			content: '';
			background-image: url('./icons/close-icon-1.png');
			background-repeat: no-repeat;
    		background-position: center center;
			height: 50px;
			width: 50px;
			font-size: 2em;
			color: #fff;
			position: absolute;
			top: 1em;
			right: 0;
			font-family: "Muli", Helvetica, Arial, sans-serif;
			transition: opacity 0.3s ease;
			opacity: 0;
			pointer-events: none;
		}
		&:after{
			content: '';
			background-color: transparent;
			position: fixed;
			z-index: -1;
			height: 100%;
			width: 200%;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}
}

.cursor{
	height: 250px;
	width: 250px;
	position: absolute;
	z-index: 19;
	pointer-events: none;
	transition: all 0.4s ease-out;
	opacity: 1;
	&:before{
		content: '';
		height: 100%;
		width: 100%;
		display: block;
		animation: spin 16s linear;
		animation-iteration-count: infinite;
	}
}
.cursor-football{
	top: 0;
	&:before{
		background-image: url('./icons/football-cursor.png');
		background-size: contain;
	}
	transform: translate(calc(50vw - 125px + 24vh), calc(50vh - 125px + 4vh));
}
.cursor-basketball{
	top: 0;
	&:before{
		background-image: url('./icons/basketball-cursor.png');
		background-size: contain;
	}
	transform: translate(calc(50vw - 125px - 48vh), calc(50vh - 125px + 6vh));
}
.cursor-soccer{
	top: 0;
	&:before{
		background-image: url('./icons/soccer-cursor.png');
		background-size: contain;
	}
	transform: translate(calc(50vw - 60px + 1vh), calc(50vh - 60px - 31vh));
}
#btn-function{
	position: absolute;
	left: 0px;
	z-index: 99;
}

// .city-overlay{
// 	transform: translateX(calc( -100% - 21px));
// 	&.basketball-active{
// 		text-align: left;
// 		right: -100%;
// 		transform: translateX(calc(-100% + 20px));
// 		.overlay-inner{
// 			box-shadow: 0 0 20px $sleeperOrange;
// 		}
// 	}
// 	&.football-active{
// 		text-align: right;
// 		.overlay-inner{
// 			box-shadow: 0 0 20px $sleeperGreen;
// 		}
// 	}
// }

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
