.city-wrapper{
}
.sleeper-city{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	&.overlay-active{
		#scene-sleeper{
			pointer-events: none;
		}
		.cursor{
			opacity: 0;
		}
	}
	&.stadium-hover{
		cursor: pointer;
	}
	&.basketball-hover{
		#scene-sleeper{
			cursor: pointer;
		}
		.cursor-basketball{
			&:after{
				opacity: 0.8;
			}
			.cursor-icon{
				&:before{
					transform: rotate(30deg);
				}
				&:after{
					opacity: 0;
					visibility: hidden;
				}
			}
			.cursor-label{
				opacity: 1;
			}
		}
	}
	&.football-hover{
		#scene-sleeper{
			cursor: pointer;
		}
		.cursor-football{
			&:after{
				opacity: 0.8;
			}
			.cursor-icon{
				&:before{
					transform: rotate(30deg);
				}
				&:after{
					opacity: 0;
					visibility: hidden;
				}
			}
			.cursor-label{
				opacity: 1;
			}
		}
	}
	&.soccer-hover{
		#scene-sleeper{
			cursor: pointer;
		}
		.cursor-soccer{
			&:before{
				animation-duration: 4s;
				-webkit-animation-duration: 4s;
				-ms-animation-duration: 4s;
			}
		}
	}
}
.city-overlay{
	width: 50%;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 20;
	display: flex;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	.overlay-inner{
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 3em 1em;
		background-color: rgba(14, 22, 37, .94);
		clip-path: circle(100vw at -50vw 50vh);
		@media (min-width: 768px){
			padding: 3em 4em;
		}
		@media (min-width: 1240px){
			padding: 3em 8em;
		}
		@media (min-width: 1440px){
			padding: 3em 10em;
		}
		p {
			color: #fff;
		}
	}
	&.football-active{
		text-align: right;
		.overlay-inner{
			background-color: transparent;
			background-image: linear-gradient(to bottom left, rgba(76, 226, 167, .8), rgba(0, 183, 179, .97));
		}
		.overlay-content{
			> *{
				color: $sleeperBlack !important;;
			}
		}
		.overlay-close{
			&:before{
				left: auto;
				top: 50%;
				transform: translate(0px, -50%);
				right: -60px;
			}
		}
	}
	&.basketball-active{
		text-align: left;
		right: -100%;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		.overlay-close{
			&:before{
				right: auto;
				top: 50%;
				transform: translate(0px, -50%);
				left: -60px;
			}
		}
		.overlay-inner{
			background-color: transparent;
			background-image: linear-gradient(to bottom right, rgba(255, 100, 13, .8), rgba(255, 69, 66, .97));
			justify-content: flex-start;
			clip-path: circle(100vw at 100vw 50vh);
		}
		.overlay-content{
			> *{
				color: $sleeperBlack !important;;
			}
		}
	}
	&.soccer-active{
		text-align: right;
		.overlay-inner{
			background-color: transparent;
			background-image: linear-gradient(to bottom left, rgba(124, 218, 249, .8), rgba(94, 115, 228, .97));
		}
		.overlay-content{
			> *{
				color: $sleeperBlack !important;;
			}
		}
	}
	&.overlay-open{
		transition-delay: 0.5s;
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		&.basketball-active{
			transform: translateX(-200%);
			-webkit-transform: translateX(-200%);
			-ms-transform: translateX(-200%);
			.overlay-close:after{
				left: auto;
				right: 0;
			}
		}
		.overlay-close{
			&:before{
				opacity: 1;
				pointer-events: initial;
				transition-delay: 1.2s;
			}
			&:after{
				pointer-events: initial;
			}
		}
		.overlay-content{
			@for $i from 1 through 6{
				> *:nth-child(#{$i}){
					transition-delay: $i * 0.15s + 0.85s;
					transform: translateY(0px);
					-webkit-transform: translateY(0px);
					-ms-transform: translateY(0px);
				}
			}
			> * {
				opacity: 1;
			}
		}
	}
	.overlay-content{
		max-width: 800px;
		> * {
			opacity: 0;
			transform: translateY(30px);
			-webkit-transform: translateY(30px);
			-ms-transform: translateY(30px);
			transition: transform 0.8s 0.6s cubic-bezier(.1,.53,.32,1.17), opacity 0.6s 0.4s ease;
			display: block;
		}
	}

	.overlay-close{
		cursor: pointer;
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		&:before{
			content: '';
			background-image: url('./icons/close-icon-1.png');
			background-repeat: no-repeat;
    		background-position: center center;
			height: 50px;
			width: 50px;
			font-size: 2em;
			color: #fff;
			position: absolute;
			top: 1em;
			right: -25px;
			font-family: "Muli", Helvetica, Arial, sans-serif;
			transition: opacity 0.3s ease;
			opacity: 0;
			pointer-events: none;
		}
		&:after{
			content: '';
			background-color: transparent;
			position: fixed;
			z-index: -1;
			height: 100%;
			width: 200%;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}
}

.cursor{
	height: 180px;
	width: 180px;
	position: absolute;
	z-index: 19;
	pointer-events: none;
	transition: all 0.4s ease-out;
	opacity: 1;
	&:after{
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		background-color: rgba(255,255,255,0.4);
		border-radius: 50%;
		opacity: 0;
		transition: all 0.2s ease;
	}
	.cursor-icon{
		animation: bounceDown 0.8s ease-out;
		-webkit-animation: bounceDown 0.8s ease-out;
		-ms-animation: bounceDown 0.8s ease-out;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		position: absolute;
		height: 80px;
		width: 80px;
		left: calc(50% - 40px);
		top: 20px;
		&:before{
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			display: block;
			transition: all 0.2s ease;
		}
		&:after{
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.5);
			border: 2px solid black;
			border-radius: 50%;
			animation: pulse 3s ease;
			-webkit-animation: pulse 3s ease;
			-ms-animation: pulse 3s ease;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
		}
	}
	.cursor-label{
		width: 100%;
		font-family: $muliStack;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		padding: 0 20px;
		font-size: 18px;
		position: absolute;
		top: 106px;
		opacity: 0;
		transition: opacity 0.2s ease;
		color: $sleeperBlack;
	}
}
.cursor-football{
	top: 0;
	&:after{
		background-image: linear-gradient(315deg, #96eae1, #ffffff);
	}
	.cursor-icon{
		animation-delay: 0.4s;
		&:before{
			background-image: url('./icons/football.png');
			background-size: contain;
		}
		&:after{
			animation-delay: 0.4s;
			background-color: rgba(0, 206, 184, 0.5);
			border-color: rgba(0, 206, 184, 0.6);
		}
	}
	transform: translate(calc(50vw - 40px + 11vw + 4vh), calc(50vh - 30px - 40px + 2vw + 4vh));
	-webkit-transform: translate(calc(50vw - 40px + 11vw + 4vh), calc(50vh - 30px - 40px + 2vw + 4vh));
	-ms-transform: translate(calc(50vw - 40px + 11vw + 4vh), calc(50vh - 30px - 40px + 2vw + 4vh));
}
.cursor-basketball{
	top: 0;
	&:after{
		background-image: linear-gradient(315deg, #ffd0a2, #ffffff);
	}
	.cursor-icon{
		&:before{
			background-image: url('./icons/basketball.png');
			background-size: contain;
		}
		&:after{
			background-color: rgba(255, 92, 0, 0.5);
			border-color: rgba(255, 92, 0, 0.6);
		}
	}
	transform: translate(calc(50vw - 90px - 60px - 11vw - 4vh), calc(50vh - 90px + 2vw + 4vh));
	-webkit-transform: translate(calc(50vw - 90px - 60px - 11vw - 4vh), calc(50vh - 90px + 2vw + 4vh));
	-ms-transform: translate(calc(50vw - 90px - 60px - 11vw - 4vh), calc(50vh - 90px + 2vw + 4vh));
}
.cursor-soccer{
	top: 0;
	&:before{
		background-image: url('./icons/soccer-cursor.png');
		background-size: contain;
	}
	transform: translate(calc(50vw - 100px + 1vh), calc(50vh - 100px - 24vh));
	-webkit-transform: translate(calc(50vw - 100px + 1vh), calc(50vh - 100px - 24vh));
	-ms-transform: translate(calc(50vw - 100px + 1vh), calc(50vh - 100px - 24vh));
}
#btn-function{
	position: absolute;
	left: 0px;
	z-index: 99;
}

// .city-overlay{
// 	transform: translateX(calc( -100% - 21px));
// 	&.basketball-active{
// 		text-align: left;
// 		right: -100%;
// 		transform: translateX(calc(-100% + 20px));
// 		.overlay-inner{
// 			box-shadow: 0 0 20px $sleeperOrange;
// 		}
// 	}
// 	&.football-active{
// 		text-align: right;
// 		.overlay-inner{
// 			box-shadow: 0 0 20px $sleeperGreen;
// 		}
// 	}
// }

@keyframes spin{
	0%{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	50%{
		transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
	}
	100%{
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
	}
}

@keyframes bounceDown{
	0%{
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
	}
	30%{
		transform: translate(0px, 5px);
		-webkit-transform: translate(0px, 5px);
		-ms-transform: translate(0px, 5px);
	}
	100%{
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
	}
}

@keyframes bounceUp{
	0%{
		transform: translate(0px, 20px);
		-webkit-transform: translate(0px, 20px);
		-ms-transform: translate(0px, 20px);
	}
	100%{
		transform: translate(0px, 0px);
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
	}
}

@keyframes pulse{
	0%{
		opacity: 1;
		transform: scale(0.1);
	}
	20%{
		opacity: 1;
	}
	40%{
		transform: scale(1.2);
		opacity: 0;
	}
	100%{
		transform: scale(1.2);
		opacity: 0;
	}
}
