.sleeper-footer{
	padding: 150px 0 50px;
	h1, h2, h3, h4{
		margin: 0 0 1em;
	}
	background-image: url('./background/moon-footer.webp');
	background-size: cover;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 11;
	transition: all 1s cubic-bezier(.1,.53,.32,1.17);
	// transform: translateY(400px);
	// -webkit-transform: translateY(400px);
	// -ms-transform: translateY(400px);
	&:after{
		content: '';
		height: 120px;
		width: 100%;
		display: block;
		position: absolute;
		pointer-events: none;
		top: 20px;
		z-index: 0;
		background-image: url('./background/img_footer_spaceship_w.webp');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: calc(100% - 104px) 0px;
		// @media (min-width: 1600px){
		// 	background-position: 95% 0px;
		// 	top: 120px;
		// }
		// @media (min-width: 2000px){
		// 	background-position: 95% 0px;
		// 	top: 200px;
		// }
	}
}
.show .sleeper-footer{
	transition-duration: 0.1s;
	// bottom: -12px;
	// transform: translateY(0px);
	// -webkit-transform: translateY(0px);
	// -ms-transform: translateY(0px);
}

.sleeper-footer-main{
	background-color: rgba(250, 250, 250, 0.7);
	width: 100%;
	margin: 0 auto;
	padding: 0 60px;
	display: flex;
	box-sizing: content-box;

	.main-primary{
		width: 50%;
		padding: 30px 0;
		display: flex;
		.primary-content{
			padding: 0 20px;
			width: 100%;
		}
	}
	.main-secondary{
		width: 33.333%;
		background-color: rgba(220, 220, 220, 0.4);
		padding: 30px 0;
	}

	@media (max-width: 767px){
		padding: 0;
		flex-direction: column;
		.main-primary, .main-secondary{
			width: 100%;
			padding: 30px 10px;
		}
	}
	@media (min-width: 768px){
		width: 690px;
		padding: 0 30px;
		border-radius: 10px;
	}
	@media (min-width: 992px){
		width: 930px;
		border-radius: 10px;
	}
	@media (min-width: 1240px){
		width: 1170px;
		border-radius: 10px;
	}
}

.sleeper-footer-secondary{
	margin-top: 20px;
}

.footer-links{
	list-style: none;
	margin: 0;
	padding: 0;
	a{
		color: $sleeperGray;
	}
	.links-header{
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}
	li{
		margin-bottom: 1.286em;
	}
}
.footer-right{
	text-align: right;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	li{
		padding: 0 .6em;
		&:last-of-type{
			padding-right: 0;
		}
	}
	.footer-logo{
		// width: 100%;
		// flex-grow: 1;
		margin-bottom: 20px;
	}
	.footer-socials{
		> *{
			&:not(:first-of-type){
				margin-left: 20px;
			}
		}
	}
}
.footer-bottom{
	h3{
		font-weight: 800;
	}
}
.games-list{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 140px;
	.list-wrapper{
		display: flex;
		position: absolute;
		a{
			display: block;
		}
	}
	.game-link{
		max-width: 160px;
		width: 160px;
		padding: 20px 20px 0;
		&:hover{
			.game-label{
				color: $sleeperBlack;
			}
		}
	}
	.game-graphic{
		margin-bottom: 6px;
		img{
			width: 100%;
		}
	}
	.game-label{
		width: 100%;
		text-align: center;
		font-family: $muliStack;
		font-weight: 700;
		color: $sleeperGray;
	}
	.list-buttons{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		pointer-events: none;
		.more-games, .less-games{
			height: 100%;
			position: absolute;
			width: 45px;
			top: 0;
			opacity: 0;
			transition: opacity 0.8s ease-out;
			cursor: pointer !important;
			pointer-events: all;
		}
		.less-games{
			background-image: url('./icons/carat-left.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			left: 0;
			&.less-active{
				opacity: 1;
			}
		}
		.more-games{
			background-image: url('./icons/carat-right.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			right: 0;
			&.more-active{
				opacity: 1;
			}
		}
	}
}
