.sleeper-header{
	position: absolute;
	top: 40px;
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 75px;
	z-index: 20;
}

.sleeper-header-container{
	display: flex;
	vertical-align: middle;
	margin: 0 auto;
	height: 100%;
	justify-content: space-between;
}

.sleeper-header-logo{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.sleeper-header-menu{
	display: flex;
	align-items: center;
	// .btn.btn-sm{
	// 	padding: .6rem 2rem;
	// }
}
