.c-frame{
	height: 800px;
	width: 600px;
	position: relative;
	@media (max-width: 632px){
		width: calc(100vw - 0px);
		height: auto;
		padding-top: 120%; //600x800 or 3:4 ratio
	}
	.f-layer{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		&.layer-middle, &.layer-back{
			img{
				max-height: 100%;
			}
		}
	}
	&.frame-1{
		.layer-elements{
			.element-0{
				left: 10%;
				top: 30%;
			}
			.element-1{
				right: 20%;
				top: 70%;
				animation-duration: 5s;
			}
		}
	}
	&.frame-2{
		.layer-elements{
			.element-0{
				right: 40%;
				top: 80%;
			}
			.element-1{
				left: 20%;
				top: 15%;
				animation-duration: 5s;
			}
		}
	}
	.layer-elements{
		position: absolute;
		img{
			position: absolute;
			will-change: transform;
			animation: float 4s ease-in-out;
			-webkit-animation: float 4s ease-in-out;
			-ms-animation: float 4s ease-in-out;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
		}
	}
}

.layered-graphic{
	&.draft-graphic{
		.layer-elements{
			.element-0{
				animation: none;
				-webkit-animation: none;
				-ms-animation: none;
				left: 0;
				top: 0;
				width: 100%;
			}
			.element-1{
				right: 18%;
				bottom: 18%;
			}
			.element-2{
				right: 15%;
				bottom: 22%;
				animation-duration: 8s;
				-webkit-animation-duration: 8s;
				-ms-animation-duration: 8s;
			}
			.element-3{
				right: 6%;
				bottom: 35%;
				animation-duration: 6s;
				-webkit-animation-duration: 6s;
				-ms-animation-duration: 6s;
			}
		}
	}
	&.play-graphic{
		.layer-elements{
			.element-0{
				right: 10%;
				top: 20%;
				animation-duration: 7s;
				-webkit-animation-duration: 7s;
				-ms-animation-duration: 7s;
			}
			.element-1{
				animation: none;
				-webkit-animation: none;
				-ms-animation: none;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
	}
	&.weekly-graphic{
		.layer-elements{
			.element-0{
				animation: none;
				-webkit-animation: none;
				-ms-animation: none;
				left: 0;
				top: 0;
				width: 100%;
			}
			.element-1{
				top: 40%;
				animation-duration: 8s;
				-webkit-animation-duration: 8s;
				-ms-animation-duration: 8s;
			}
			.element-2{
				top: 10%;
				left: 50%;
				animation-duration: 5s;
				-webkit-animation-duration: 5s;
				-ms-animation-duration: 5s;
			}
			.element-3{
				right: 40%;
				bottom: 20%;
				animation-duration: 9s;
				-webkit-animation-duration: 9s;
				-ms-animation-duration: 9s;
			}
		}
	}
	&.classic-graphic{
		.layer-elements{
			.element-0{
				top: 15%;
				left: 25%;
			}
			.element-1{
				top: 50%;
				right: 20%;
				animation-duration: 9s;
			}
			.element-2{
				bottom: 25%;
				left: 5%;
				animation-duration: 7s;
			}
		}
	}
	&.bracket-mania-graphic{
		// background-image: url('./background/bracketmap.png');
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
		padding-bottom: 100px;
		.c-frame{
			margin: 0 auto;
			&.layer-left{
				float: none;
			}
		}
	}
	.graphic-inner.active{
		.layer-middle, .layer-elements{
			opacity: 1;
			// will-change: transform;
			// transform: translateX(0) !important;
			// -webkit-transform: translateX(0) !important;
			// -ms-transform: translateX(0) !important;
		}
		.layer-back{
			transition-delay: 0s;
		}
		.layer-middle{
			transition-delay: 0.4s;
		}
		.layer-elements{
			transition-delay: 0.8s;
		}
	}
	.layer-back{
		transition: all 1s 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
		opacity: 1;
		img{
			max-width: unset;
		}
	}
	.layer-middle{
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-delay: 0.4s;
		opacity: 0;
		// transform: translateX(20px);
		// -webkit-transform: translateX(20px);
		// -ms-transform: translateX(20px);
	}
	.layer-elements{
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-delay: 0s;
		opacity: 0;
		// transform: translateX(20px);
		// -webkit-transform: translateX(20px);
		// -ms-transform: translateX(20px);
	}
	.c-frame.layer-left{
		margin: 0 auto;
		.layer-back, .layer-middle{
			img{
				float: right;
			}
		}
		@media (min-width: 1280px){
			float: right;
		}
	}
	// .c-frame.layer-right{
	// 	@media (max-width: 1279px){
	// 		.layer-back{
	// 			float: right;
	// 		}
	// 		margin: 0 auto;
	// 	}
	// }
}


@keyframes float{
	0%{
		transform: translateY(0%) rotate(-10deg);
		-webkit-transform: translateY(0%) rotate(-10deg);
		-ms-transform: translateY(0%) rotate(-10deg);
	}
	50%{
		transform: translateY(50%) rotate(20deg);
		-webkit-transform: translateY(50%) rotate(20deg);
		-ms-transform: translateY(50%) rotate(20deg);
	}
	100%{
		transform: translateY(0%) rotate(-10deg);
		-webkit-transform: translateY(0%) rotate(-10deg);
		-ms-transform: translateY(0%) rotate(-10deg);
	}
}

@keyframes floatNoSpin{
	0%{
		transform: translate3d(0, 0%, 0);
		-webkit-transform: translate3d(0, 0%, 0);
		-ms-transform: translate3d(0, 0%, 0);
	}
	50%{
		transform: translate3d(0, 15px, 0);
		-webkit-transform: translate3d(0, 15px, 0);
		-ms-transform: translate3d(0, 15px, 0);
	}
	100%{
		transform: translate3d(0, 0%, 0);
		-webkit-transform: translate3d(0, 0%, 0);
		-ms-transform: translate3d(0, 0%, 0);
	}
}
