.page-content{
	&.page-home{
		// height: 50vh;
		// background-color: #eee;
	}
}
.sport-header{
	height: 50vh;
}

.layout{
	padding: 2rem 0;
}
.layout-main-color{
	&, &[class*="layout-rounded"]:before, &[class*="layout-slant"]:after{
		background-color: $layoutMainColor;
	}
}
.layout-secondary-color{
	&, &[class*="layout-rounded"]:before, &[class*="layout-slant"]:after{
		background-color: $layoutSecondaryColor;
	}
}
.layout-slant-down{
	position: relative;
	&:not(.layout-no-shadow){
		filter: drop-shadow(0px 50px 25px rgba(0, 0, 0, 0.1));
	}
	&:after{
		content: '';
		clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
		height: 250px;
		width: 100%;
		display: block;
		bottom: -249px;
		position: absolute;
		z-index: -1;
	}
	+ .layout{
		position: relative;
		z-index: 0;
		background-color: transparent;
		min-height: 350px;
	}
}
.layout-rounded-top{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		height: 50px;
		width: 100%;
		top: -50px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		// padding-bottom: 6rem;
		@media (min-width: 768px){
			height: 100px;
			width: 100%;
			top: -100px;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
		}
	}
}
.layout-rounded-bottom{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		height: 50px;
		width: 100%;
		bottom: -50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		// padding-bottom: 6rem;
		@media (min-width: 768px){
			height: 100px;
			width: 100%;
			bottom: -100px;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
		}
	}
	+ .layout-width-image{
		height: 500px;
	}
}
.layout-width-image{
	img{
		object-fit: cover;
		object-position: center 70%;
		height: 100%;
		width: 100%;
	}
	padding: 0;
	height: 400px;
}
