.page-content{
	padding-bottom: 300px;
	&.page-soccer{
		padding-bottom: 50px;
	}
	&.page-home{
		// height: 50vh;
		// background-color: #eee;
		padding-bottom: 0;
	}
	&.page-loaded{
		// .sport-header{
		// 	max-height: 80vh;
		// 	video{
		// 		max-height: 90vh;
		// 	}
		// }
		.header-content{
			> *{
				transform: translateY(0px);
				-webkit-transform: translateY(0px);
				-ms-transform: translateY(0px);
				opacity: 1;
			}
		}
		.scroll-down{
			transform: translate(-50%, 0px);
			-webkit-transform: translate(-50%, 0px);
			-ms-transform: translate(-50%, 0px);
			opacity: 1;
			transition-delay: 0.8s;
		}
	}
	&.page-football, &.page-basketball, &.page-soccer, &.page-home{
		padding-top: 0;
	}
	padding-top: 170px;
}
.sport-header{
	// height: 65vh;
	// min-height: 650px;
	max-height: 1200px;
	height: 100vh;
	transition: max-height 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	position: relative;
	display: flex;
	align-items: center;
	.header-content{
		position: relative;
		z-index: 0;
		&:after{
			content: '';
			background-image: radial-gradient($sleeperWhite 70%, transparent);
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			filter: blur(20px);
			-webkit-filter: blur(20px);
			-moz-filter: blur(20px);
			border-radius: 50%;
			opacity: 0.6;
		}
		> *{
			transform: translateY(20px);
			-webkit-transform: translateY(20px);
			-ms-transform: translateY(20px);
			opacity: 0;
			transition: all 0.8s cubic-bezier(.1,.53,.32,1.17);
			&:nth-child(2){
				transition-delay: 0.2s;
			}&:nth-child(3){
				transition-delay: 0.4s;
			}
		}
	}
	&.header-football, &.header-basketball, &.header-soccer{
		&:before{
			content: '';
			position: absolute;
			bottom: -1px;
			z-index: 11;
			height: 600px;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center bottom;
			pointer-events: none;
		}
	}
	&.header-football{
		&:before{
			background-image: url('./background/football-round-path.png');
		}
	}
	&.header-basketball{
		&:before{
			background-image: url('./background/basketball-round-path.png');
		}
		.header-content{

		}
	}
	&.header-soccer{
		&:before{
			background-image: url('./background/soccer-round-path.png');
		}
		.header-content{

		}
	}
	.stadium-fallback{
		object-fit: cover;
		height: 100%;
		width: 100%;
		object-position: center center;
		position: absolute;
		top: 0;
		left: 0;
	}
	video{
		width: 100%;
		max-height: 1200px;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
		object-fit: cover;
		object-position: center center;
		transition: max-height 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	.header-parallax{
		margin: 0;
	}
	.sport-stadium{
		position: relative;
		height: 100%;
		width: 100%;
		display: block;
		background-attachment: fixed;
		background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.scroll-down{
		position: absolute;
		bottom: 50px;
		z-index: 12;
		left: 50%;
		transform: translate(-50%, 20px);
		-webkit-transform: translate(-50%, 20px);
		-ms-transform: translate(-50%, 20px);
		opacity: 0;
		transition: all 0.8s cubic-bezier(.1,.53,.32,1.17);
		width: 100px;
	}
}
.sport-page, .default-page{
	background-color: $layoutMainColor;
	position:relative;
	z-index: 10;
	overflow: hidden;
}

.default-page{
	.layout:first-of-type{
		padding-top: 200px;
	}
}

.page-header{
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: -60px;
	.page-title{
		width: 45%;
		padding: 0 140px 100px 70px;
	}
	.page-banner{
		width: 55%;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		overflow: hidden;
		max-height: 600px;
		position:relative;
		z-index: 11;
		align-self: flex-end;
		box-shadow: 0 0 20px 5px #c5c5c5;
		img{
			object-fit: cover;
			object-position: center center;
			max-width: 100%;
			height: 100%;
		}
	}
	p{
		font-size: 1.44em;
	}
	@media (max-width: 1199px){
		flex-direction: column;
		justify-content: center;
		.page-title{
			width: 100%;
			padding-bottom: 40px;
		}
		.page-banner{
			width: calc(100% - 32px);
			border-radius: 40px;
			align-self: unset;
			max-height: 400px;
		}
	}
}
.layout{
	padding: 5rem 0 0;
}
.layout-main-color{
	&, &[class*="layout-rounded"]:before, &[class*="layout-slant"]:after{
		background-color: $layoutMainColor;
	}
}
.layout-secondary-color{
	&, &[class*="layout-rounded"]:before, &[class*="layout-slant"]:after{
		background-color: $layoutSecondaryColor;
	}
}
.rounded-top{
	margin-top: -0px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: -120px;;
		left: 0;
		width: 100%;
		height: 120px;
		background-image: url('./background/gradient-round-path.png');
		background-size: 150%;
		background-position: top center;
		background-repeat: no-repeat;
		pointer-events: none;
		@media (max-width: 767px){
			background-size: cover;
		}
	}
}
.layout-bracket-mania-color{
	background-image: linear-gradient(to bottom, rgba(255, 201, 0, 0.0), rgba(255, 153, 0, 0.15))
}
.layout-rounded-top{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		height: 50px;
		width: 100%;
		top: -50px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		// padding-bottom: 6rem;
		@media (min-width: 768px){
			height: 100px;
			width: 100%;
			top: -100px;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
		}
	}
}
.layout-rounded-bottom{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		height: 50px;
		width: 100%;
		bottom: -50px;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		// padding-bottom: 6rem;
		@media (min-width: 768px){
			height: 100px;
			width: 100%;
			bottom: -100px;
			border-bottom-left-radius: 100px;
			border-bottom-right-radius: 100px;
		}
	}
	+ .layout-width-image{
		height: 500px;
	}
}
.layout-width-image{
	img{
		object-fit: cover;
		object-position: center 70%;
		height: 100%;
		width: 100%;
	}
	padding: 0;
	height: 400px;
}

.grid-flex{
	display: flex;
}
.flex-center{
	align-items: center;
}

.graphic-row{
	margin-top: -250px !important;
	margin-bottom: -100px !important;
	&:first-of-type{
		margin-top: -200px !important;
	}
	&:not(:last-of-type){
		margin-bottom: -250px !important;
	}
}

.bracket-mania-features{
	padding-top: 0;
	@media (min-width: 992px){
		.MuiGrid-item:nth-child(1),.MuiGrid-item:nth-child(4){
			.feature-icon{
				margin: 0 auto;
			}
			h4,p{
				text-align: center;
			}
			transform: translateY(-145px);
			-webkit-transform: translateY(-145px);
			-ms-transform: translateY(-145px);
		}
		.MuiGrid-item:nth-child(2),.MuiGrid-item:nth-child(3){
			.feature-icon{
				margin: 0 auto;
			}
			h4,p{
				text-align: center;
			}
			transform: translateY(-170px);
			-webkit-transform: translateY(-170px);
			-ms-transform: translateY(-170px);
		}
		margin-bottom: -100px;
	}
}
