
*{
	box-sizing: border-box;
}
body {
	background-color: $layoutMainColor;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.container{
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
	@media (min-width: 576px){
		max-width: $containerXs;
	}
	@media (min-width: 768px){
		max-width: $containerSm;
	}
	@media (min-width: 992px){
		max-width: $containerMd;
	}
	@media (min-width: 1240px){
		max-width: $containerLg;
	}
	@media (min-width: 1440px){
		max-width: $containerXl;
	}
}

.btn, button{
	position: relative;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	letter-spacing: 1px;
	user-select: none;
	border: 0;
	padding: .813rem 5rem;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 2.5rem;
	text-transform: uppercase;
	font-family: $muliStack;
	font-weight: 800;
	margin: 24px 0;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:focus{
		outline: 0;
		box-shadow: 0 0 5px 3px rgba(0, 123, 255, .6) !important;
	}
	@media (max-width: 767px){
		&, &.btn-lg, &.btn-sm{
			max-width: 100%;
			padding-left: 2rem;
			padding-right: 2rem;
			min-width: 200px;
		}
	}
}
.btn-default{
	background-image: linear-gradient(to top left, #00B7B3, #4CE2A7);
	background-color: #00B7B3;
	color: $btnColor;
	&:after{
		content: '';
		width: 84%;
		background-color: #45E8A7;
		display: block;
		position: absolute;
		z-index: -1;
		height: 25px;
		left: 8%;
		z-index: -1;
		bottom: 4px;
		border-radius: 30px;
		filter: blur(15px);
		transition: opacity 0.15s ease-in-out;
	}
	&:hover:not([disabled]){
		// color: $btnHoverColor;
		&:after{
			opacity: 0;
		}
	}
	&:active{
		background-image: none;
		background-color: #01888B;
		color: $sleeperBlack;
		// &:after{
		// 	opacity: 0;
		// }
	}
	&[disabled]{
		opacity: 0.3;
		cursor: no-drop;
		pointer-events: none;
		&:after{
			display: none;
		}
	}
	&.btn-orange{
		background-image: linear-gradient(to top left, #FF4542, #FFAE58);
		color: $btnColor;
		&:after{
			background-color: $sleeperOrange;
		}
	}
}

.btn-orange{
	background-color: $sleeperOrange;
	color: $btnColor;
}

.btn-secondary{
	background-color: rgba(238,242,247,0.7);
	border: 2px solid #344054;
	color: #344054;
	&:hover{
		background-color: #344054;
		color: #D8E2ED;
	}
}

.btn-lg{
	padding-left: 8rem;
	padding-right: 8rem;
}
.btn-sm{
	padding-left: 3rem;
	padding-right: 3rem;
}

.loading-screen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	background-image: radial-gradient(#fbfbfb, #d8e2ed);
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	display: flex;
	justify-content: center;
	&.close{
		transition-duration: 2s;
		transform: translateY(101%);
		opacity: 0;
		img{
			transform: translateY(0vh);
			opacity: 0;
		}
	}
	&.init:not(.close){
		transition-property: none;
	}
	img{
		position: absolute;
		transform: translateY(calc(50vh - 40px));
		transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
		// animation: spin 2s ease;
		// animation-iteration-count: infinite;
	}
	@keyframes spin{
		0%{
			transform: translate3d(0, 46vh, 0);
		}
		50%{
			transform: translate3d(0, 50vh, 0);
		}
		100%{
			transform: translate3d(0, 46vh, 0);
		}
	}
}

.feature-row{
	margin-bottom: 2em !important;
}
.feature-icon{
	height: 60px;
	width: 60px;
	background-color: $sleeperMint;
	border-radius: 50%;
	position: relative;
	img{
		width: 100%;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		box-shadow: 0 6px 15px $sleeperMint;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		opacity: 0.7;
		top: 0;
		left: 0;
	}
	&.purple{
		background-color: $sleeperPurple;
		&:after{
			box-shadow: 0 6px 15px $sleeperPurple;
		}
	}
	&.red{
		background-color: $sleeperRed;
		&:after{
			box-shadow: 0 6px 15px $sleeperRed;
		}
	}
	&.pink{
		background-color: $sleeperPink;
		&:after{
			box-shadow: 0 6px 15px $sleeperPink;
		}
	}
	&.gray{
		background-color: #677897;
		&:after{
			box-shadow: 0 6px 15px #677897;
		}
	}
	&.orange{
		background-color: #FF7A5A;
		&:after{
			box-shadow: 0 6px 15px #FF7A5A;
		}
	}
	&.green{
		background-color: $sleeperGreen;
		&:after{
			box-shadow: 0 6px 15px $sleeperGreen;
		}
	}
	&.yellow{
		background-color: $sleeperYellow;
		&:after{
			box-shadow: 0 6px 15px $sleeperYellow;
		}
	}
	&.lilac{
		background-color: $sleeperLilac;
		&:after{
			box-shadow: 0 6px 15px $sleeperLilac;
		}
	}
	&.aqua{
		background-color: $sleeperAqua;
		&:after{
			box-shadow: 0 6px 15px $sleeperAqua;
		}
	}
}

img{
	max-width: 100%;
}
