
*{
	box-sizing: border-box;
}
.App{
	overflow: hidden;
	position: relative;
}
body {
	background-color: $layoutMainColor;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 14px;
	@media (max-width: 600px){
		font-size: 11px;
	}
}
main{
	padding-bottom: 400px;
	background-color: #fbfbfb;
}
.container{
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	@media (min-width: 576px){
		max-width: $containerXs;
	}
	@media (min-width: 768px){
		max-width: $containerSm;
	}
	@media (min-width: 992px){
		max-width: $containerMd;
	}
	@media (min-width: 1240px){
		max-width: $containerLg;
	}
	@media (min-width: 1440px){
		max-width: $containerXl;
	}
	&.wide{
		@media (min-width: 576px){
			max-width: $containerSm;
		}
		@media (min-width: 768px){
			max-width: $containerMd;
		}
		@media (min-width: 992px){
			max-width: $containerLg;
		}
		@media (min-width: 1240px){
			max-width: $containerXl;
		}
		@media (min-width: 1440px){
			max-width: 1800px;
		}
	}
}

.btn, button{
	position: relative;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	letter-spacing: 1px;
	user-select: none;
	border: 0;
	padding: .813rem 5rem;
	font-size: 1em;
	line-height: 1.5;
	border-radius: 2.5rem;
	text-transform: uppercase;
	font-family: $muliStack;
	font-weight: 800;
	margin: 24px 0;
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-ms-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:focus{
		outline: 0;
		box-shadow: 0 0 5px 3px rgba(0, 123, 255, .6) !important;
	}
	@media (max-width: 767px){
		&, &.btn-lg, &.btn-sm{
			max-width: 100%;
			padding-left: 2rem;
			padding-right: 2rem;
			min-width: 200px;
		}
	}
}
.btn-default{
	background-image: linear-gradient(to top left, #00B7B3, #4CE2A7);
	background-color: #00B7B3;
	color: $btnColor;
	position: relative;
	&:after{
		content: '';
		width: 84%;
		background-color: #45E8A7;
		display: block;
		position: absolute;
		height: 25px;
		left: 8%;
		z-index: -1;
		bottom: 4px;
		border-radius: 30px;
		filter: blur(15px);
		transition: opacity 0.15s ease-in-out;
	}
	&:hover:not([disabled]){
		// color: $btnHoverColor;
		&:after{
			opacity: 0;
		}
	}
	&:active{
		background-image: none;
		background-color: #01888B;
		color: $sleeperBlack;
		// &:after{
		// 	opacity: 0;
		// }
	}
	&[disabled]{
		opacity: 0.3;
		cursor: no-drop;
		pointer-events: none;
		&:after{
			display: none;
		}
	}
	&.btn-orange{
		background-image: linear-gradient(to top left, #FF4542, #FFAE58);
		color: $btnColor;
		&:after{
			background-color: $sleeperOrange;
		}
	}
}

.btn-orange{
	background-color: $sleeperOrange;
	color: $btnColor;
}

.btn-secondary{
	background-color: rgba(238,242,247,0.1);
	border: 2px solid $sleeperBlack;
	color: $sleeperBlack;
	&:hover{
		background-color: $sleeperBlack;
		color: #D8E2ED;
	}
}

.btn-lg{
	padding-left: 8rem;
	padding-right: 8rem;
}
.btn-sm{
	padding-left: 3rem;
	padding-right: 3rem;
}

.loading-screen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
	background-image: radial-gradient(#d8e2ed, #fbfbfb);
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	&:before{
		content: '';
		width: 200px;
		height: 2px;
		background-color: $sleeperBlack;
		position: absolute;
		bottom: calc(50vh - 100px);
		z-index: 2;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.1s 2s linear;
		// animation: load 3s linear forwards;
	}
	&:after{
		content: '';
		width: 200px;
		height: 2px;
		background-color: $sleeperWhite;
		position: absolute;
		bottom: calc(50vh - 100px);
		z-index: 1;
	}
	@keyframes load{
		0%{
			transform: scaleX(0);
		}
		100%{
			transform: scaleX(1);
		}
	}
	&.close{
		transition-duration: 2s;
		opacity: 0;
		pointer-events: none;
		img{
			// transform: translateY(0vh);
			// -webkit-transform: translateY(0vh);
			// -ms-transform: translateY(0vh);
			// opacity: 0;
		}
	}
	&.init:not(.close){
		transition-property: none;
		&:before{
			transition-duration: 3s;
			transition-delay: 0s;
			transform: scaleX(1);
		}
	}
	picture{
		// position: absolute;
		// left: 50%;
		// transform: translate(-50%, calc(50vh - 50px));
		// -webkit-transform: translate(-50%, calc(50vh - 50px));
		// -ms-transform: translate(-50%, calc(50vh - 50px));
		// transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	@keyframes spin{
		0%{
			transform: translate3d(0, 46vh, 0);
			-webkit-transform: translate3d(0, 46vh, 0);
			-ms-transform: translate3d(0, 46vh, 0);
		}
		50%{
			transform: translate3d(0, 50vh, 0);
			-webkit-transform: translate3d(0, 50vh, 0);
			-ms-transform: translate3d(0, 50vh, 0);
		}
		100%{
			transform: translate3d(0, 46vh, 0);
			-webkit-transform: translate3d(0, 46vh, 0);
			-ms-transform: translate3d(0, 46vh, 0);
		}
	}
}

.feature-row{
	margin-bottom: 2em !important;
}
.feature-icon{
	height: 60px;
	width: 60px;
	background-color: $sleeperMint;
	border-radius: 50%;
	position: relative;
	img{
		width: 100%;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		box-shadow: 0 6px 15px $sleeperMint;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		opacity: 0.7;
		top: 0;
		left: 0;
	}
	&.purple{
		background-color: $sleeperPurple;
		&:after{
			box-shadow: 0 6px 15px $sleeperPurple;
		}
	}
	&.red{
		background-color: $sleeperRed;
		&:after{
			box-shadow: 0 6px 15px $sleeperRed;
		}
	}
	&.pink{
		background-color: $sleeperPink;
		&:after{
			box-shadow: 0 6px 15px $sleeperPink;
		}
	}
	&.gray{
		background-color: #677897;
		&:after{
			box-shadow: 0 6px 15px #677897;
		}
	}
	&.orange{
		background-color: #FF7A5A;
		&:after{
			box-shadow: 0 6px 15px #FF7A5A;
		}
	}
	&.green{
		background-color: $sleeperGreen;
		&:after{
			box-shadow: 0 6px 15px $sleeperGreen;
		}
	}
	&.yellow{
		background-color: $sleeperYellow;
		&:after{
			box-shadow: 0 6px 15px $sleeperYellow;
		}
	}
	&.lilac{
		background-color: $sleeperLilac;
		&:after{
			box-shadow: 0 6px 15px $sleeperLilac;
		}
	}
	&.aqua{
		background-color: $sleeperAqua;
		&:after{
			box-shadow: 0 6px 15px $sleeperAqua;
		}
	}
}

img{
	max-width: 100%;
}

.watermark-left{
	position: absolute;
	z-index: -1;
	left: -40%;
	@media (max-width: 767px){
		display: none;
	}
}
.watermark-right{
	position: absolute;
	z-index: -1;
	right: -40%;
	@media (max-width: 767px){
		display: none;
	}
}
.bracket-map{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	max-width: 1800px;
	width: 100%;
	@media (min-width: 1800px){
		left: calc((100vw - 1800px)/2);
	}
	@media (max-width: 1279px){
		width: 100%;
		height: 800px;
		object-fit: cover;
	}
}
.full-team{
	@media (min-width: 960px){
		.MuiGrid-grid-md-2 {
			flex-grow: 0;
			max-width: 20%;
			flex-basis: 20%;
		}
	}
}
