.sleeper-nav{
	position: absolute;
	z-index: 20;
	top: 100px;
}

.sport-nav{
	background-color: #020820;
	position: relative;
	z-index: 10;
	ul{
		margin: 0;
		padding: 0;
		display: flex;
		li{
			padding: 25px 50px;
			list-style: none;
			position: relative;
			a{
				color: #fff;
			}
			&:before{
				content: '';
				border-radius: 50%;
				height: 40px;
				width: 40px;
				display: block;
				position: absolute;
				left: 0px;
				top: 14px;
			}
			&.link-basketball{
				&:before{
					content: '';
					background-image: url('./icons/Basketball_Default.png');
					background-size: contain;
					background-repeat: no-repeat;
				}
				&:hover, &.active{
					&:before{
						background-image: url('./icons/Basketball_Selected.png');
					}
				}
			}
			&.link-football{
				&:before{
					content: '';
					background-image: url('./icons/Football_Default.png');
					background-size: contain;
					background-repeat: no-repeat;
				}
				&:hover, &.active{
					&:before{
						background-image: url('./icons/Football_Selected.png');
					}
				}
			}
		}
	}
}
