.testimonials-module{
	width: 100%;
	position: relative;

	&.football-testimonial{
		background-image: linear-gradient(to top, rgba(3, 206, 185, 0.1), transparent 80%);
		.testimonial-item{
			&.item-0{
				grid-column-start: 5;
				grid-row-start: 3;
			}
			&.item-1{
				grid-column-start: 12;
				grid-row-start: 2;
			}
			&.item-2{
				grid-column-start: 4;
				grid-row-start: 8
			}
			&.item-3{
				grid-column-start: 10;
				grid-row-start: 9;
			}
			&.item-4{
				grid-column-start: 15;
				grid-row-start: 7;
			}
		}
	}
	&.basketball-testimonial{
		background-image: linear-gradient(to bottom, rgba(255, 229, 210, 0.63), transparent 80%);
		.testimonial-item{
			&.item-0{
				grid-column-start: 5;
				grid-row-start: 3;
			}
			&.item-1{
				grid-column-start: 12;
				grid-row-start: 2;
			}
			&.item-2{
				grid-column-start: 4;
				grid-row-start: 8
			}
			&.item-3{
				grid-column-start: 10;
				grid-row-start: 9;
			}
			&.item-4{
				grid-column-start: 15;
				grid-row-start: 7;
			}
		}
	}
	.testimonial-container{
		position: relative;
		padding: 400px 0;
	}
	.testimonial-content{
		text-align: center;
	}
	.testimonials-list{
		position: absolute;
		display: grid;
		top: 0;
		left: 50%;
    	transform: translateX(-50%);
		height: 100%;
		width: 100%;
		max-width: 2400px;
		grid-template-columns: repeat(20, 1fr);
		grid-template-rows: repeat(12, 1fr);
		.testimonial-item{
			grid-column-end: span 5;
			grid-row-end: span 2;
			padding: 10px;
		}
	}
	.testimonial-item{
		&.direction-left{
			.item-user{
				float: left;
			}
			.item-quote{
				margin-left: 60px;
				&:after{
					left: 60px;
				}
			}
			.user-portrait{
				&:after{
					top: 15px;
					right: 20px;
				}
			}
		}
		&.direction-right{
			.item-user{
				float: right;
			}
			.item-quote{
				margin-right: 60px;
				&:after{
					right: 60px;
				}
			}
			.user-portrait{
				&:after{
					top: 15px;
					left: 20px;
				}
			}
		}
	}
	.item-quote{
		background-color: #fff;
		padding: 1em 1.5em;
		font-size: 17px;
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		border-radius: 100px;
		box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
		position: relative;
		color: $sleeperBlack;
		&:after{
			content: '';
			width: 20px;
			height: 10px;
			background: #fff;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			position: absolute;
			bottom: -10px;
			box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
		}
	}
	.item-user{

		.user-portrait{
			height: 120px;
			width: 120px;
			background-color: #D8E2ED;
			border-radius: 50%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1em;
			position: relative;
			&:after{
				content: '';
				height: 12px;
				width: 12px;
				border-radius: 50%;
				background-color: #fff;
				top: 0;
				display: block;
				position: absolute;
			}
			img{
				width: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		.user-name{
			text-align: center;
			font-size: 19px;
			font-family: $muliStack;
			color: $sleeperBlack;
			font-weight: 400;
		}
	}
	.testimonial-path{
		width: 100%;
		position: absolute;
		bottom: 0;
		display: flex;
		align-items: flex-end;
		pointer-events: none;
		img{
			width: 100%;
			object-fit: cover;
			object-position: bottom;
		}
		&.background-down{
			top: -1px;
			transform: rotate(180deg);
		}
	}
}
.bracket-hero{
	width: 100%;
}
