@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Muli:800,900&display=swap');
$muliStack: 'Muli', Helvetica, Arial, sans-serif;
h1{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 3.429em;
}
h2{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 2.429em;
}
h3{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 1.714em;
}
h4{
	font-family: $muliStack;
	font-weight: 800;
	font-size: 1.429em;
}

p{}
a{}
strong{}

ul{
	li{

	}
}
