@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Muli:400,800,900&display=swap');

h1{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 3.429em;
	color: $headerColor_1;
	margin-bottom: 0.4em;
}
h2{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 2.429em;
	color: $headerColor_1;
	margin-bottom: 0.4em;
}
h3{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 1.714em;
	color: $headerColor_2;
}
h4{
	font-family: $muliStack;
	font-weight: 800;
	font-size: 1.429em;
	color: $headerColor_1;
}

p{
	color: $bodyTextColor;
	font-size: 1.4em;
	line-height: 1.5em;
}
a{
	&:not(.btn){
		text-decoration: none;
		&:hover{
			color: $linkHoverColor;
		}
	}
}
strong{}

h1, h2, h3{
	&.block-header{
		padding-left: 100px;
		position: relative;
		&:before{
			content: '';
			height: 68px;
			width: 68px;
			display: block;
			background-color: $sleeperMint;
			border-radius: 19px;
			position: absolute;
			left: 0;
			bottom: 10px;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			box-shadow: 0 6px 15px $sleeperMint;
			border-radius: 19px;
			height: 68px;
			width: 68px;
			opacity: 0.7;
			bottom: 10px;
			left: 0;
		}
		&.mint{&:before{ background-color: $sleeperMint; } &:after{ box-shadow: 0 6px 15px $sleeperMint;}}
		&.gray{&:before{ background-color: $sleeperGray; } &:after{ box-shadow: 0 6px 15px $sleeperGray;}}
		&.green{&:before{ background-color: $sleeperGreen; } &:after{ box-shadow: 0 6px 15px $sleeperGreen;}}
		&.red{&:before{ background-color: $sleeperRed; } &:after{ box-shadow: 0 6px 15px $sleeperRed;}}
		&.orange{&:before{ background-color: $sleeperOrange; } &:after{ box-shadow: 0 6px 15px $sleeperOrange;}}
		&.blue{&:before{ background-color: $sleeperBlue; } &:after{ box-shadow: 0 6px 15px $sleeperBlue;}}
		&.purple{&:before{ background-color: $sleeperPurple; } &:after{ box-shadow: 0 6px 15px $sleeperPurple;}}
		&.pink{&:before{ background-color: $sleeperPink; } &:after{ box-shadow: 0 6px 15px $sleeperPink;}}
		&.yellow{&:before{ background-color: $sleeperYellow; } &:after{ box-shadow: 0 6px 15px $sleeperYellow;}}
		&.lilac{&:before{ background-color: $sleeperLilac; } &:after{ box-shadow: 0 6px 15px $sleeperLilac;}}
		&.aqua{&:before{ background-color: $sleeperAqua; } &:after{ box-shadow: 0 6px 15px $sleeperAqua;}}

	}
}
h3.block-header{
	color: $sleeperBlack;
	padding-left: 70px;
	&:before, &:after{
		height: 50px;
		width: 50px;
		border-radius: 14px;
		top: 3px;
	}
	&.engineering{
		&:before{
			background-image: url('./icons/icon_team_02_engineer@3x.png');
			background-size: contain;
			background-position: center center;
		}
	}
	&.design{
		&:before{
			background-image: url('./icons/icon_team_05_design@3x.png');
			background-size: contain;
			background-position: center center;
		}
	}
	&.operations{
		&:before{
			background-image: url('./icons/icon_team_03_operation@3x.png');
			background-size: contain;
			background-position: center center;
		}
	}
	&.support{
		&:before{
			background-image: url('./icons/icon_team_04_support@3x.png');
			background-size: contain;
			background-position: center center;
		}
	}
	&.marketing{
		&:before{
			background-image: url('./icons/icon_team_06_growth.png');
			background-size: contain;
			background-position: center center;
		}
	}
	&.ceo{
		&:before{
			background-image: url('./icons/icon_team_01_ceo@3x.png');
			background-size: contain;
			background-position: center center;
		}
	}
}
ul:not(.footer-links){
	li{
		color: $bodyTextColor;
		font-size: 19px;
		line-height: 1.8em;
	}
	> li{
		margin-bottom: 1em;
		> ul > li > ul > li{
			margin-bottom: 0;
		}
	}
}

.txt-sm{
	color: $smallTextColor;
	font-size: .75em;
}
.txt-center{
	text-align: center;
}
.txt-black{
	color: $sleeperBlack !important;
}
.txt-mint{
	color: $sleeperMint !important;
}
.txt-orange{
	color: $sleeperOrange !important;
}
.txt-blue{
	color: $sleeperBlue !important;
}
.subtitle{
	font-family: $muliStack;
	font-weight: 700;
	font-size: 1.8em;
	color: $sleeperGray;
}
