@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Muli:400,800,900&display=swap');

h1{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 3.429em;
	color: $headerColor_1;
	margin-bottom: 0.4em;
}
h2{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 2.429em;
	color: $headerColor_1;
	margin-bottom: 0.4em;
}
h3{
	font-family: $muliStack;
	font-weight: 900;
	font-size: 1.714em;
	color: $headerColor_2;
}
h4{
	font-family: $muliStack;
	font-weight: 800;
	font-size: 1.429em;
	color: $headerColor_1;
}

p{
	color: $bodyTextColor;
	font-size: 1.4em;
	line-height: 1.8em;
}
a{
	&:not(.btn){
		text-decoration: none;
		&:hover{
			color: $linkHoverColor;
		}
	}
}
strong{}

ul:not(.footer-links){
	li{
		color: $bodyTextColor;
		font-size: 19px;
		line-height: 1.8em;
	}
	> li{
		margin-bottom: 1em;
		> ul > li > ul > li{
			margin-bottom: 0;
		}
	}
}

.txt-sm{
	color: $smallTextColor;
	font-size: .75em;
}
.txt-center{
	text-align: center;
}
.txt-mint{
	color: $sleeperMint !important;
}
.txt-orange{
	color: $sleeperOrange !important;
}
.txt-blue{
	color: $sleeperBlue !important;
}
.subtitle{
	font-family: $muliStack;
	font-weight: 700;
	font-size: 1.8em;
	color: $sleeperGray;
}
