$muliStack: 'Muli', Helvetica, Arial, sans-serif;
// $textPrimary: ;

$blueColor: #2196F3;
$blackColor: #000000;
$whiteColor: #ffffff;
$sleeperBlack: #022047;
$sleeperGray: #677897;
$sleeperGreen: #45E8A7;
$sleeperMint: #00CEB8;
$sleeperRed: #FF2B6D;
$sleeperWhite: #F9F9F9;
$sleeperOrange: #FF5C00;

$containerXl: 1400px;
$containerLg: 1200px;
$containerMd: 960px;
$containerSm: 720px;
$containerXs: 540px;

// $colorPrimary: ;
// $colorSecondary: ;

// LIGHT THEME
$headerColor_1: $sleeperBlack;
$headerColor_2: $sleeperGray;
$bodyTextColor: $sleeperGray;
$smallTextColor: $sleeperGray;
$btnColor: $sleeperBlack;
$btnHoverColor: $sleeperWhite;
$linkHoverColor: $sleeperGreen;

$layoutMainColor: $whiteColor;
$layoutSecondaryColor: $sleeperWhite;

// DARK THEME
// $layoutMainColor: #01081F;
// $layoutSecondaryColor: #1A2135;
